{% load static %}

<!DOCTYPE html>
<html lang="en" class="material-style layout-fixed">

<head>
    <title>Gas Management System </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="GMS by Rushikesh">
    <meta name="author" content="GMS by Rushikesh" />
    <meta name="description" content="GMS by Rushikesh" />
    <link rel="shortcut icon" href="https://i.ibb.co/h1q4Rxz/Logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/open-iconic.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/feather.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-material.css' %}">
    <link rel="stylesheet" href="{% static 'css/shreerang-material.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit.css' %}">
    <link rel="stylesheet" href="{% static 'libs/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'libs/flot/flot.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block css %} {% endblock css %}

</head>

<body>
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>
    <div class="layout-wrapper layout-2">
        <div class="layout-inner">

            {% include 'components/sidebar.html' %}

            <div class="layout-container">

                {% include 'components/navbar.html' %}

                <div class="layout-content">
                    <div class="container-fluid flex-grow-1 container-p-y">

                        {% block body %}


                        {% endblock body %}

                    </div>

                    {% include 'components/footer.html' %}

                </div>
            </div>
        </div>
        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>

    <script src="{% static 'js/pace.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'libs/popper/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/sidenav.js' %}"></script>
    <script src="{% static 'js/layout-helpers.js' %}"></script>
    <script src="{% static 'js/material-ripple.js' %}"></script>
    <script src="{% static 'libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'libs/eve/eve.js' %}"></script>
    <script src="{% static 'libs/flot/flot.js' %}"></script>
    <script src="{% static 'libs/flot/curvedLines.js' %}"></script>
    <script src="{% static 'libs/chart-am4/core.js' %}"></script>
    <script src="{% static 'libs/chart-am4/charts.js' %}"></script>
    <script src="{% static 'libs/chart-am4/animated.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/analytics.js' %}"></script>
    <script src="{% static 'js/pages/dashboards_index.js' %}"></script>
</body>

</html>