.card {
    overflow: scroll;
}

.card::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width:480px) {
    .footer-links {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-profile {
        align-items: center;
    }
}