<div id="layout-sidenav" class="layout-sidenav sidenav sidenav-vertical bg-white logo-dark">
    <div class="app-brand demo">
        <span class="app-brand-logo demo">
            <img src="https://img.icons8.com/external-itim2101-flat-itim2101/32/000000/external-cloud-business-and-financial-itim2101-flat-itim2101-1.png"
                alt="Brand Logo" class="img-fluid">
        </span>
        <a href="{% url 'dashboard_page' %}"
            class="app-brand-text demo sidenav-text font-weight-normal ml-2">Gas Management System</a>
        <a href="javascript:" class="layout-sidenav-toggle sidenav-link text-large ml-auto">
            <i class="ion ion-md-menu align-middle"></i>
        </a>
    </div>

    <div class="sidenav-divider mt-0"></div>

    <ul class="sidenav-inner py-1">

        {% url 'dashboard_page' as dashboard_page %}
        <li class="sidenav-item {% if request.path == dashboard_page %} active {% endif %}">
            <a href="{{dashboard_page}}" class="sidenav-link">
                <i class="sidenav-icon feather icon-home"></i>
                <div>Dashboard</div>
                <div class="pl-1 ml-auto">
                    <div class="badge badge-danger">Home</div>
                </div>
            </a>
        </li>          

                  

        <li class="sidenav-divider mb-1"></li>

        {% url 'add_customer_page' as add_customer_page %}
        {% url 'customers_page' as customers_page %}
        <li
            class="sidenav-item {% if request.path == add_customer_page %} open {% endif %} {% if request.path == customers_page %} open {% endif %}">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-users"></i>
                <div>Customers</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item {% if request.path == add_customer_page %} open active {% endif %}">
                    <a href="{{add_customer_page}}" class="sidenav-link">
                        <i class="sidenav-icon feather icon-users mr-2"></i>
                        <div>Add Customer</div>
                    </a>
                </li>
                <li class="sidenav-item {% if request.path == customers_page %} open active {% endif %}">
                    <a href="{{customers_page}}" class="sidenav-link">
                        <i class="sidenav-icon feather icon-users mr-2"></i>
                        <div>Manage Customers</div>
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidenav-divider mb-1"></li>

        {% url 'add_order_page' as add_order_page %}
        {% url 'orders_page' as orders_page %}
        <li
            class="sidenav-item {% if request.path == add_order_page %} open {% endif %} {% if request.path == orders_page %} open {% endif %}">
            <a href="javascript:" class="sidenav-link sidenav-toggle">
                <i class="sidenav-icon feather icon-shopping-cart"></i>
                <div>Service Request</div>
            </a>
            <ul class="sidenav-menu">
                <li class="sidenav-item {% if request.path == add_order_page %} open active {% endif %}">
                    <a href="{{add_order_page}}" class="sidenav-link">
                        <i class="sidenav-icon feather icon-shopping-cart mr-2"></i>
                        <div>Add Service Request</div>
                    </a>
                </li>
                <li class="sidenav-item {% if request.path == orders_page %} open active {% endif %}">
                    <a href="{{orders_page}}" class="sidenav-link">
                        <i class="sidenav-icon feather icon-shopping-cart mr-2"></i>
                        <div>Manage Service Request</div>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>